# Intermediate files
*.dot
*.ps
out_graph.*

# Core Dump
core

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.elf

#auto generated
typedefs.h

#header dependency information
*.d

#text file temporaries
*.swp

lt
straightline
unittest
